* {
    font-family: 'verdana', sans-serif;
}

p{ line-height: 1em; }
h1, h2, h3, h4{
    color: #A8DBA8;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}
h1{ font-size: 3.1em; }
h2{ font-size: 1.5em; }
a{
	color: black;
	text-decoration: none;
}
	a:hover,
	a:active{ text-decoration: underline; }

body{
    /font-family: arial; font-size: 80%; line-height: 1.2em; width: 100%; margin: 0; background: #A8DBA8;
}
#page{ margin: 20px; }

body, html{margin:0px; padding:0px;}
body{font-family: 'verdana', sans-serif;background:#222; padding:2%; color:#eee;}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
h1{
  font-family: 'verdana', sans-serif;
  font-weight:100;
  letter-spacing:1px;
  font-size:150px;
  text-align:center;
  margin:0px;
}
p{
  text-align: center;
  margin:0px 0px 2.2em;
  font-size: 12px;
  color: #999;
  line-height: 30px;
}

input {
  font-family: 'verdana', sans-serif;
  display: block;
  width: 100%;
  border: 0;
  height: 100px;
  outline:0px;
  text-align: center;
  color:#fff;
  font-size:13px;
  border-radius:0px;
  cursor:pointer;
  position: relative;
  top:0px;
}
input:hover{
  position: relative;
  top:-5px;
}
span{
  clear:both;
  color:#888;
  font-size:12px;
  padding-top:5px;
  display:block;
}
span a{
  font-size:10px;
}

@media screen and (min-width: 0px) and (max-width: 700px) {
  ul{width:100%;float:none;margin-left:0px;}
}

.squeeze{line-height:18px;}

body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

h1{ font-size: 1.7em; }
a{
	color: black;
	text-decoration: none;
}

#page{ margin: 20px; }

#content{
	margin: 30px 0;
	background: white;
	padding: 20px;
	clear: both;
}
#footer{
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}
	#footer p{
		text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: grey;
	}

#content,
ul li a{ box-shadow: 0px 1px 1px #999; }

#runButton {
  font-size: 10px;
  font-weight: 200;
 background-color: #61c271;
 color:white;
 border-color:#61c271;
 border-width: 3px;
 font-family: "verdana", cursive;
 text-transform: uppercase;
 border-radius: 20px;
 border-style: ridge;
 position: relative;
 margin: auto;
 top: 1em;
 padding: 1em;
 width: 9em;
 text-align: center;
 cursor:pointer;
}

#runButton:hover{
  background-color:#d2f5eb;
  color: white;
}

#b1 {
  font-family: "verdana",cursive;
  font-size: 14px;
  font-weight: 400;
 text-shadow: 2px 2px black;
 background-color:#61c271;
 color:black;
 border-color:showHideText;
 border-width: 3px;
 text-transform: uppercase;
 border-radius: 40px;
 border-style: ridge;
 position: relative;
 margin: auto;
 top: 1em;
 padding: 0.5em;
 width: 6em;
 text-align: center;
 cursor: pointer;
}

#b1:hover{
  background-color: grey;
  border-color: white;
  text-shadow: 2px 2px white;
}

#b2 {
 font-size: 14px;
 color: black;
 font-weight: 400;
 background-color:#61c271;
 border-color:white;
 border-width: 3px;
 font-family:"verdana",cursive;
 text-transform: uppercase;
 text-shadow: 2px 2px black;
 border-radius: 40px;
 border-style: ridge;
 position: relative;
 margin: auto;
 top: 1em;
 padding: 0.5em;
 width: 6em;
 text-align: center;
 cursor: pointer;
}

#b2:hover {
  background-color:grey;
  border-color:white;
  text-shadow: 2px 2px white;
}
