{
   font-family: 'Ubuntu', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Ubuntu');

<meta name="viewport" content="width=device-width, initial-scale=1">

body {
    margin:0;
    padding:0;
    overflow: hidden;
    display: flex;
}
canvas {
    margin:auto;
}

body {
   color: rgb(39.2%, 36.5%, 32.9%);
   background-color: rgb(242, 232, 192);
}
   .main-container {
     border: 2px double rgb(39.2%, 36.5%, 32.9%);
       padding: 100px;}
.main-container h1, h2 {
 display: block;
 background-color: white;
 padding: 5px
}

.lower-header {
   margin: 0;
   background-color: #adc3b7;
   height: 130px;
}

.lower-header .site-name {
   float: left;
   padding: 25px 10px;
   margin-left: 0.5em;
   font-weight: lighter;
   font-size: 2.5em;
   color: #fff;
}

.lower-header .site-logo {
   font-size: 2.5em;
   float: right;
   padding: 15px 10px;
   margin-right: 0.25em;
}

.site-logo img {
   height: 80px;
}
