* {
    font-family: 'Ubuntu', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Ubuntu');

p{ line-height: 1em; }
h1, h2, h3, h4{
    color: #A8DBA8;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}
h1{ font-size: 1.7em; }
h2{ font-size: 1.5em; }
a{
	color: black;
	text-decoration: none;
}
	a:hover,
	a:active{ text-decoration: underline; }

body{
    /font-family: arial; font-size: 80%; line-height: 1.2em; width: 100%; margin: 0; background: #A8DBA8;
}
#page{ margin: 20px; }
